.emptyLink {
  margin: 24px 0 0;
  width: 100%;
  max-width: 276px;
  min-width: 0;
  height: 48px;
  padding: 0 32px;
  font-size: 16px;
}

@media (min-width: 375px) {
  .emptyLink {
    margin-top: 28px;
  }
}

@media (min-width: 768px) {
  .emptyLink {
    margin-top: 32px;
    width: 276px;
    max-width: none;
  }
}

@media (min-width: 1440px) {
  .emptyLink {
    margin-top: 40px;
  }
}
